body {
   color: #ffffff;
}

.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #264F59;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.411);
    transform : scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 1rem 1.5rem;
    color: white
}

.choice-text {
    padding: 2rem;
    width: 100%

}

.correct {
    background-color: rgba(255, 255, 0, 0.913);
}

.incorrect {
    background-color: rgb(235, 60, 20);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgba(255, 255, 0, 0.913);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgba(255, 255, 0, 0.913);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}                                 